actuation_0 >= 14.0
actuation_0 + 1.0 <= 16.0
actuation2_0 >= 6.0
actuation2_0 + 0.5 <= 8.0
actuation2_1 >= 14.0
actuation2_1 + 0.5 <= 16.0

input_t1_0 >= 0.0
input_t1_0 + 1.0 <= 2.0
input_t2_0 >= 0.0
input_t2_0 + 0.5 <= 2.0
input_t2_1 >= 8.0
input_t2_1 + 0.5 <= 10.0

input_t1_0 + 1.0 <= t1_0
input_t2_0 + 0.5 <= t2_0
t2_0 + 1.0 <= input_t2_1
input_t2_1 + 0.5 <= t2_1

t2_0 < t2_1
input_t2_0 < input_t2_1
actuation2_0 < actuation2_1

t1_0 + 2.0 <= actuation_0
t1_0 + 2.0 <= actuation_0
t2_0 + 1.0 <= actuation2_0
t2_1 >= actuation2_0 + 0.5
t2_1 + 1.0 <= actuation2_1

input_t1_0 + 2.0 <= t2_0
input_t1_0 + 2.0 <= t2_0
input_t1_0 + 2.0 <= t2_0
input_t1_0 + 2.0 <= t2_0
input_t1_0 + 2.0 <= t2_0

Or(input_t1_0 + 1 <= t1_0 , t1_0 + 2 <= input_t1_0)
Or(input_t1_0 + 1 <= actuation_0 , actuation_0 + 1 <= input_t1_0)
Or(input_t1_0 + 1 <= input_t2_0 , input_t2_0 + 0.5 <= input_t1_0)
Or(input_t1_0 + 1 <= input_t2_1 , input_t2_1 + 0.5 <= input_t1_0)
Or(input_t1_0 + 1 <= t2_0 , t2_0 + 1 <= input_t1_0)
Or(input_t1_0 + 1 <= t2_1 , t2_1 + 1 <= input_t1_0)
Or(input_t1_0 + 1 <= actuation2_0 , actuation2_0 + 0.5 <= input_t1_0)
Or(input_t1_0 + 1 <= actuation2_1 , actuation2_1 + 0.5 <= input_t1_0)
Or(t1_0 + 2 <= input_t1_0 , input_t1_0 + 1 <= t1_0)
Or(t1_0 + 2 <= actuation_0 , actuation_0 + 1 <= t1_0)
Or(t1_0 + 2 <= input_t2_0 , input_t2_0 + 0.5 <= t1_0)
Or(t1_0 + 2 <= input_t2_1 , input_t2_1 + 0.5 <= t1_0)
Or(t1_0 + 2 <= t2_0 , t2_0 + 1 <= t1_0)
Or(t1_0 + 2 <= t2_1 , t2_1 + 1 <= t1_0)
Or(t1_0 + 2 <= actuation2_0 , actuation2_0 + 0.5 <= t1_0)
Or(t1_0 + 2 <= actuation2_1 , actuation2_1 + 0.5 <= t1_0)
Or(actuation_0 + 1 <= input_t1_0 , input_t1_0 + 1 <= actuation_0)
Or(actuation_0 + 1 <= t1_0 , t1_0 + 2 <= actuation_0)
Or(actuation_0 + 1 <= input_t2_0 , input_t2_0 + 0.5 <= actuation_0)
Or(actuation_0 + 1 <= input_t2_1 , input_t2_1 + 0.5 <= actuation_0)
Or(actuation_0 + 1 <= t2_0 , t2_0 + 1 <= actuation_0)
Or(actuation_0 + 1 <= t2_1 , t2_1 + 1 <= actuation_0)
Or(actuation_0 + 1 <= actuation2_0 , actuation2_0 + 0.5 <= actuation_0)
Or(actuation_0 + 1 <= actuation2_1 , actuation2_1 + 0.5 <= actuation_0)
Or(input_t2_0 + 0.5 <= input_t1_0 , input_t1_0 + 1 <= input_t2_0)
Or(input_t2_0 + 0.5 <= t1_0 , t1_0 + 2 <= input_t2_0)
Or(input_t2_0 + 0.5 <= actuation_0 , actuation_0 + 1 <= input_t2_0)
Or(input_t2_0 + 0.5 <= input_t2_1 , input_t2_1 + 0.5 <= input_t2_0)
Or(input_t2_0 + 0.5 <= t2_0 , t2_0 + 1 <= input_t2_0)
Or(input_t2_0 + 0.5 <= t2_1 , t2_1 + 1 <= input_t2_0)
Or(input_t2_0 + 0.5 <= actuation2_0 , actuation2_0 + 0.5 <= input_t2_0)
Or(input_t2_0 + 0.5 <= actuation2_1 , actuation2_1 + 0.5 <= input_t2_0)
Or(input_t2_1 + 0.5 <= input_t1_0 , input_t1_0 + 1 <= input_t2_1)
Or(input_t2_1 + 0.5 <= t1_0 , t1_0 + 2 <= input_t2_1)
Or(input_t2_1 + 0.5 <= actuation_0 , actuation_0 + 1 <= input_t2_1)
Or(input_t2_1 + 0.5 <= input_t2_0 , input_t2_0 + 0.5 <= input_t2_1)
Or(input_t2_1 + 0.5 <= t2_0 , t2_0 + 1 <= input_t2_1)
Or(input_t2_1 + 0.5 <= t2_1 , t2_1 + 1 <= input_t2_1)
Or(input_t2_1 + 0.5 <= actuation2_0 , actuation2_0 + 0.5 <= input_t2_1)
Or(input_t2_1 + 0.5 <= actuation2_1 , actuation2_1 + 0.5 <= input_t2_1)
Or(t2_0 + 1 <= input_t1_0 , input_t1_0 + 1 <= t2_0)
Or(t2_0 + 1 <= t1_0 , t1_0 + 2 <= t2_0)
Or(t2_0 + 1 <= actuation_0 , actuation_0 + 1 <= t2_0)
Or(t2_0 + 1 <= input_t2_0 , input_t2_0 + 0.5 <= t2_0)
Or(t2_0 + 1 <= input_t2_1 , input_t2_1 + 0.5 <= t2_0)
Or(t2_0 + 1 <= t2_1 , t2_1 + 1 <= t2_0)
Or(t2_0 + 1 <= actuation2_0 , actuation2_0 + 0.5 <= t2_0)
Or(t2_0 + 1 <= actuation2_1 , actuation2_1 + 0.5 <= t2_0)
Or(t2_1 + 1 <= input_t1_0 , input_t1_0 + 1 <= t2_1)
Or(t2_1 + 1 <= t1_0 , t1_0 + 2 <= t2_1)
Or(t2_1 + 1 <= actuation_0 , actuation_0 + 1 <= t2_1)
Or(t2_1 + 1 <= input_t2_0 , input_t2_0 + 0.5 <= t2_1)
Or(t2_1 + 1 <= input_t2_1 , input_t2_1 + 0.5 <= t2_1)
Or(t2_1 + 1 <= t2_0 , t2_0 + 1 <= t2_1)
Or(t2_1 + 1 <= actuation2_0 , actuation2_0 + 0.5 <= t2_1)
Or(t2_1 + 1 <= actuation2_1 , actuation2_1 + 0.5 <= t2_1)
Or(actuation2_0 + 0.5 <= input_t1_0 , input_t1_0 + 1 <= actuation2_0)
Or(actuation2_0 + 0.5 <= t1_0 , t1_0 + 2 <= actuation2_0)
Or(actuation2_0 + 0.5 <= actuation_0 , actuation_0 + 1 <= actuation2_0)
Or(actuation2_0 + 0.5 <= input_t2_0 , input_t2_0 + 0.5 <= actuation2_0)
Or(actuation2_0 + 0.5 <= input_t2_1 , input_t2_1 + 0.5 <= actuation2_0)
Or(actuation2_0 + 0.5 <= t2_0 , t2_0 + 1 <= actuation2_0)
Or(actuation2_0 + 0.5 <= t2_1 , t2_1 + 1 <= actuation2_0)
Or(actuation2_0 + 0.5 <= actuation2_1 , actuation2_1 + 0.5 <= actuation2_0)
Or(actuation2_1 + 0.5 <= input_t1_0 , input_t1_0 + 1 <= actuation2_1)
Or(actuation2_1 + 0.5 <= t1_0 , t1_0 + 2 <= actuation2_1)
Or(actuation2_1 + 0.5 <= actuation_0 , actuation_0 + 1 <= actuation2_1)
Or(actuation2_1 + 0.5 <= input_t2_0 , input_t2_0 + 0.5 <= actuation2_1)
Or(actuation2_1 + 0.5 <= input_t2_1 , input_t2_1 + 0.5 <= actuation2_1)
Or(actuation2_1 + 0.5 <= t2_0 , t2_0 + 1 <= actuation2_1)
Or(actuation2_1 + 0.5 <= t2_1 , t2_1 + 1 <= actuation2_1)
Or(actuation2_1 + 0.5 <= actuation2_0 , actuation2_0 + 0.5 <= actuation2_1)

input_t1_0 >= 0
input_t1_0 <= 16
t1_0 >= 0
t1_0 <= 16
actuation_0 >= 0
actuation_0 <= 16
input_t2_0 >= 0
input_t2_0 <= 16
input_t2_1 >= 0
input_t2_1 <= 16
t2_0 >= 0
t2_0 <= 16
t2_1 >= 0
t2_1 <= 16
actuation2_0 >= 0
actuation2_0 <= 16
actuation2_1 >= 0
actuation2_1 <= 16
